<rules>
  <rule name="Redirect" stopProcessing="true">
    <match url="^redirect" />
    <action type="Redirect" url="http://www.google.co.jp" />
  </rule>
  <rule name="Found" stopProcessing="true">
    <match url="^found" />
    <action type="Redirect" url="http://www.google.co.jp" redirectType="Found" />
  </rule>
  <rule name="LocalRedirect" stopProcessing="true">
    <match url="^local" />
    <action type="Redirect" url="/local/redirect" redirectType="Found" />
  </rule>
  <rule name="StatusCode">
    <match url="^404"/>
    <action type="CustomResponse" statusCode="404"/>
  </rule>
  <rule name="Rewrite" stopProcessing="true">
    <match url="^hoge.*" />
    <action type="Rewrite" url="/translated/{R:0}" />
  </rule>
</rules>