<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules configSource="..\..\Rewrite.config" />
      <outboundRules> 
        <rule name="Rewrite" preCondition="IsHTML">
          <match filterByTags="A" pattern="^/(hoge.*)" />
          <action type="Rewrite" value="/translated/{R:1}" />
        </rule>
        <rule name="Add tracking script" patternSyntax="ExactMatch" preCondition="IsHTML">
          <match filterByTags="None" pattern="&lt;/body>" />
          <action type="Rewrite" value="&lt;script type='text/javascript'>TRACKING CODE&lt;/script>&lt;/body>" />
        </rule>
        <preConditions>
          <preCondition name="IsHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>